


.navbar {
    background-color: #476A6F;
    border: 3px dashed #CFDACB;
    height: 64px;
}

.up {
    text-decoration: none;
    color: #CFDACB;
    font-size: 30px;
    line-height: 50px; /*Antes 39px, ficava o texto da navbar desalinhado na vertical*/
    text-align: center;
    height: 100%;
    font-family: 'Grand Hotel', cursive;
}

.old-up {
    line-height: 39px;
}

.nav-link {
    height: 100%;
}

.fa-bars {
    color: #F5E0D8;
}

.basket-subtitle {
    color: #47525E;
    font-size: 26px;
    line-height: 33px;
    text-align: left;
}

.main-font {
    font-family: 'Grand Hotel', cursive;
}

.activee {
    text-decoration: underline;
    background-color: #AA6966;
    height: 100%;
}


.input-font {
    font-size:26px;
}

.form-check-input[type=radio] {
    border: dashed;
    border-color: #476A6F;
}
